:root {
    font-family: sans-serif;
}

table {
    width: 100%;
}

.table__row {

}

.table__header {
    font-weight: bold;
    text-align: left;
}

.table__cell {
    text-align: left;
}

.calculator__grade-selector {
    border: solid 1px transparent;
    border-radius: 8px;
    padding: 4px;
    background-color: lightgray;
    cursor: pointer;
    &[aria-selected='true'] {
        background-color: lightsalmon;
    }
}

.calculator__message {
    color: red;
    font-weight: bold;
}

.center {
    text-align: center;
}
